.page-intro-wrapper {
  padding: 80px 60px;
}

.page-intro {
  font-size: 48px;
  line-height: 64px;
}

@media (max-width: 768px) {
  .page-intro-wrapper {
    padding: 60px 45px;
  }
  .page-intro {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 576px) {
  .page-intro-wrapper {
    padding: 40px 30px;
  }
  .page-intro {
    font-size: 24px;
    line-height: 32px;
  }
}