.footer-container {
  margin-top: 100px;
  background-color: rgb(20, 20, 20);
  width: 100%;
}

.footer-content {
  color: #ddd;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.copyright-text {
  font-size: 14px;
}

.social-icon {
  padding: 0 10px;
}
.social-icon:last-child {
  padding-right: 0;
}